<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>v-if</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <div id="account">
      잔고: <input type="text" v-model="balance" />
      <img
        v-if="balance < 0"
        src="http://sample.bmaster.kro.kr/img/error.png"
        title="마이너스는 허용하지 않습니다"
        style="width: 15px; height: 15px; vertical-align: middle"
      />
      <br />
      회원님의 등급:
      <span v-if="balance >= 10000">Gold</span>
      <span v-else-if="balance >= 5000">Silver</span>
      <span v-else>Basic</span>
    </div>
    <script type="text/javascript">
      var simple1 = new Vue({
        el: "#account",
        data: {
          balance: 0,
        },
      });
    </script>
  </body>
</html>
